@import url("https://fonts.googleapis.com/css?family=Roboto:900|Lato:700|Playfair+Display|Domine|Montserrat");
@import url("https://use.fontawesome.com/releases/v5.5.0/css/all.css");
/* line 1, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/library.scss */
:root {
  --wht: #FFFFFF;
  --bannercolor: #07BFDC;
  --gitlabcolor: #FF4500;
  --facebookcolor: #4682B4;
  --fccccolor: #228B22;
  --githubcolor: #00003F;
  --twittercolor: #4155f5;
  --codefightscolor: #CEC8EF;
  --textcolor: #FFFFFF;
  --thumbnailcolor: #000080;
  --appcolor: #4169E1;
  --navbuttoncolor: #932020;
  --barcolor: #3d3e41;
  --coolblack: #000027;
  --transitionColorA: #009BEC;
  --transitionColorB: #91FFA3;
  --transitionColorC: #C4C4C4;
  --solidBlack: #000000;
  --footerColor: #D3D3D3;
  --formColor: #262628;
  --shadowColor: #383838;
  --navbarBackground: #FFA348;
  --bannerShade: rgba(128, 128, 128, 0.7); }

/* line 57, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/library.scss */
.genericDisplay {
  display: grid;
  grid-template: 1;
  align-items: center;
  justify-items: center; }

/* line 61, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/library.scss */
.genericPositioning {
  position: relative;
  height: auto;
  width: auto;
  padding: 2px;
  margin: 2px; }

/* line 5, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/about.scss */
section#about {
  background: url("../images/ocean3.jpg") center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 3px;
  padding: 3px;
  margin-top: 20px;
  grid-template: 75px 1fr/1fr; }
  /* line 12, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/about.scss */
  section#about .aboutBlock {
    display: grid;
    grid-template: auto/auto;
    width: 90%;
    max-width: 1100px;
    margin-bottom: 50px; }
    /* line 19, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/about.scss */
    section#about .aboutBlock .portraitBlock {
      display: none; }
      /* line 22, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/about.scss */
      section#about .aboutBlock .portraitBlock .skillBlock {
        background: linear-gradient(135deg, var(--transitionColorA), var(--transitionColorB)), linear-gradient(var(--transitionColorC), var(--transitionColorC));
        opacity: 0.85;
        border: solid 1px black;
        box-shadow: 3px 6px var(--shadowColor); }
        /* line 28, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/about.scss */
        section#about .aboutBlock .portraitBlock .skillBlock .starBlock {
          display: grid;
          border-top: solid grey 3px;
          padding: 5px;
          grid-template: repeat(6, 1fr)/repeat(2, 1fr); }
        /* line 35, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/about.scss */
        section#about .aboutBlock .portraitBlock .skillBlock h3 {
          margin-top: 5px;
          margin-bottom: 5px;
          color: var(--coolblack);
          font-weight: bold; }
        /* line 42, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/about.scss */
        section#about .aboutBlock .portraitBlock .skillBlock p {
          color: var(--coolblack);
          font-weight: bold; }

/*# sourceMappingURL=about.css.map */