
section#contact {
  width: 100%;
  @include backgroundPic('../images/ocean.jpg');
  .contactcontainer {
    @include display(grid, repeat(3,1fr)/1fr,center,center);
    width: 90%;
    height: auto;
    margin: 5px;
    padding: 5px;
    .emailbox, .phonebox, .resumebox {
      @include display(grid, 1fr 1fr/1fr, center, center);
      
      
    }
    h3 {
      font-size: 30px;
      color: var(--coolblack);
    }
    i {
      font-size: 100px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}