@import url('https://fonts.googleapis.com/css?family=Roboto:900|Lato:700|Playfair+Display|Domine|Montserrat');
@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css');
@import 'library.scss';

header {
  @include display(grid, 1fr/1fr, center, center);
  @include positioning(relative, 600px, 100%, 2px, auto);
  @include backgroundPic('/images/Website_Background_2.jpg');
  
  .banner {
    @include display(grid, 1fr/1fr, center, center);
    height: 100%;
    text-align: center;
  }

  div.banner {

    h1,
    h3 {
      color: var(--textcolor);
      text-shadow: 5px 5px 5px rgba(128, 128, 128, 0.7);
    }
  }
}

@media only screen and (min-width: 768px){
  section#menu {
    width: 100%;
    height: auto;
    justify-items: center;
    background-color: var(--navbarBackground);
  }

  .bars {
    display: none;
  }

  nav {
    grid-template: 1fr/1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-self: center;
    align-items: center;
    justify-items: space-around;
    height: auto;
    overflow-y: visible;
    margin-top: 10px;
    margin-bottom: 12px;
  }

  nav button {
    font-size: 15px;
  }
}
