@import url('https://fonts.googleapis.com/css?family=Roboto:900|Lato:700|Playfair+Display|Domine|Montserrat');
@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css');
@import 'library.scss';

header {
  @include display(grid, 1fr/1fr, center, center);
  @include positioning(relative, 600px, 100%, 2px, auto);
  @include backgroundPic('/images/Website_Background_2.jpg');

  .banner {
    @include display(grid, 1fr/1fr, center, center);
    height: 100%;
    text-align: center;

    .titleblock {

      h1,
      p {
        color: var(--coolblack);
        text-shadow: 5px 5px 5px var(--bannerShade);
        background-color: transparent;
      }
      p {
        font-size: 30px;
      }
    }
  }
}
