@import url("https://fonts.googleapis.com/css?family=Roboto:900|Lato:700|Playfair+Display|Domine|Montserrat");
@import url("https://use.fontawesome.com/releases/v5.5.0/css/all.css");
/* line 30, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  display: grid;
  grid-template-rows: 1;
  align-items: center;
  justify-items: center;
  position: relative;
  height: auto;
  width: 100%;
  padding: 2px;
  margin: auto;
  overflow-x: hidden; }

/* line 37, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
header {
  display: grid;
  grid-template-rows: 1;
  align-items: center;
  justify-items: center;
  position: relative;
  height: 600px;
  width: 100%;
  padding: 2px;
  margin: auto; }

/* line 42, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
.headerbackground {
  background: url("/images/Website_Background_2.jpg") center no-repeat;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 2px;
  margin: auto;
  z-index: -1;
  top: 0;
  bottom: auto;
  right: 0;
  left: 0;
  content: ""; }

/* line 49, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
main {
  width: 100%; }

/* line 53, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
section {
  display: grid;
  grid-template-rows: 1;
  align-items: center;
  justify-items: center;
  position: relative;
  height: auto;
  width: auto;
  padding: 2px;
  margin: auto;
  background-color: #FFFFFF; }

/* line 59, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
section#menu {
  position: sticky;
  height: 300px;
  width: 160px;
  padding: 2x;
  margin: default;
  align-items: stretch;
  top: 0px;
  background-color: transparent;
  z-index: 3;
  margin-right: 0px; }

/* line 68, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
nav {
  display: grid;
  grid-template-rows: repeat(7, 1fr)/1fr;
  align-items: default;
  justify-items: default;
  height: 34px;
  overflow-y: hidden;
  background-color: transparent; }

/* line 76, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
section#portfolio {
  grid-template: 75px 1fr/1fr;
  height: auto;
  margin-top: -310px; }

/* line 82, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
div.portfolio {
  display: grid;
  grid-template-rows: repeat(9, 1fr)/1fr;
  align-items: default;
  justify-items: default;
  grid-gap: 40px; }

/* line 87, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
section#about {
  grid-template: 30px 1fr/1fr; }

/* line 92, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
div.aboutBlock {
  display: grid;
  grid-template: 1fr/1fr; }

/* line 97, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
div.portraitBlock {
  display: none;
  border: 4px solid blue; }

/* line 102, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
div.starBlock {
  border-top: solid grey 3px;
  padding: 5px;
  grid-template: repeat(6, 1fr)/1fr 1fr; }

/* line 109, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
section#socialmedia {
  height: 500px; }

/* line 113, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
section#contact {
  height: 500px; }

/* line 117, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
nav button {
  background-color: #3d3e41;
  border: white;
  border: 0.5px solid rgba(255, 255, 255, 0.3);
  color: #FFFFFF;
  font-size: 25px;
  width: 100%;
  min-height: 45px;
  text-align: center; }

/* line 128, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
.banner {
  display: grid;
  grid-template: 1fr/1fr;
  justify-items: center;
  align-items: center;
  height: 100%; }

/* line 136, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
.titleblock {
  text-align: center; }

/* line 140, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
button {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  transition: all 0.3s ease; }

/* line 146, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
button:hover,
.active {
  filter: brightness(150%); }

/* line 151, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
button:hover,
div.bars:hover {
  cursor: pointer; }

/* line 156, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
.bars {
  display: grid;
  justify-items: center;
  align-items: center;
  justify-self: end;
  grid-gap: 5px;
  background-color: #3d3e41;
  border-radius: 4px;
  height: 34px;
  width: 43px; }

/* line 168, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
.bar {
  background-color: #FFFFFF;
  height: 4px;
  margin: 2px;
  width: 60%; }

/* line 175, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
.slideup,
.slidedown {
  max-height: 34px;
  height: 34px;
  overflow-y: hidden;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out; }

/* line 185, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
.slidedown {
  max-height: 320px;
  height: 320px; }

/* line 190, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
div.appBlock,
div.skillBlock {
  background: linear-gradient(135deg, #009bec, #91ffa3), linear-gradient(#c4c4c4, #c4c4c4);
  opacity: 0.7;
  border: solid 1px black;
  box-shadow: 3px 6px #888888; }

/* line 198, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
div.appBlock {
  height: 250px; }

/* line 202, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
div.thumbnail {
  width: 100%;
  height: 55%;
  background: linear-gradient(135deg, #009bec, #91ffa3), linear-gradient(#c4c4c4, #c4c4c4);
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center; }

/* line 213, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
div.appcaption {
  width: 100%;
  height: 30%;
  border-top: solid 1px lightgray; }

/* line 219, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
div.appfooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 15%;
  border-top: solid 1px lightgray; }

/* line 228, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
h1 {
  font-size: 50px; }

/* line 232, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
h2 {
  font-size: 40px;
  width: 100%;
  text-align: center;
  background-color: #07BFDC; }

/* line 239, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
h3 {
  font-size: 40px;
  text-align: center; }

/* line 244, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
div.contactbackground {
  background-image: url("../images/bg-3a.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 800px;
  position: absolute;
  z-index: -1;
  top: -100px; }

/* line 255, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
footer {
  display: grid;
  grid-template-rows: 1fr 1fr/1fr;
  align-items: start;
  justify-items: center;
  position: relative;
  height: 75px;
  width: 100%;
  padding: 5px;
  margin: auto;
  background-color: #D3D3D3;
  opacity: 0.9;
  text-align: center;
  font-style: italic;
  margin-bottom: 0; }
  /* line 264, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
  footer h2 {
    font-weight: bold;
    color: #000000;
    background-color: transparent;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0; }
  /* line 273, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
  footer div.content {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 460px; }
    /* line 280, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
    footer div.content p {
      font-size: 10px;
      font-weight: bold;
      color: #000000;
      line-height: 1.6em; }
    /* line 287, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
    footer div.content img {
      width: 80px;
      height: 20px; }

/* line 294, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
form {
  display: grid;
  grid-template: repeat(8, 1fr)/1fr;
  grid-auto-rows: auto;
  grid-gap: 30px;
  max-width: 400px;
  height: 450px;
  grid-template-areas: "messagebox" "messagebox" "messagebox" "inputbox" "inputbox" "textbox" "textbox" "sendbutton"; }

/* line 311, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
form div.messagebox {
  grid-area: messagebox; }

/* line 315, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
form div.textbox {
  grid-area: textbox; }

/* line 319, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
form div.inputbox {
  grid-area: inputbox; }

/* line 323, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
form div.sendbutton {
  grid-area: sendbutton; }

/* line 327, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
textarea,
input {
  width: 100%;
  border-radius: 5px;
  padding: 3px;
  margin: 3px;
  background: #F2F2F2 none repeat scroll 00;
  opacity: 0.4;
  font-size: 15px;
  font-weight: 500; }

/* line 339, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
div.textbox textarea {
  height: 100%; }

/* line 343, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
div.messagebox textarea {
  height: 100%; }

/* line 347, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
input {
  height: 20%;
  margin-bottom: 5px; }

/* line 352, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
form button {
  background-color: #262628;
  color: #FFF;
  margin-top: 20px;
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 18px;
  transition: all 0.5s; }

/* line 362, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
form button:hover {
  background-color: #FFFFFF;
  color: #000000; }

/* line 367, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
div.socialmedia {
  border: solid 2px lightgray;
  box-shadow: 2px 5px rgba(169, 169, 169, 0.9); }

@media only screen and (min-width: 520px) {
  /* line 373, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
  div.portfolio {
    grid-template: repeat(6, 1fr)/repeat(2, 1fr); } }

@media only screen and (min-width: 768px) {
  /* line 379, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
  section#menu {
    width: 100%;
    height: auto;
    justify-items: center;
    background-color: #3d3e41; }
  /* line 386, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
  div.portfolio {
    grid-template: repeat(4, 1fr)/repeat(3, 1fr); }
  /* line 390, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
  .bars {
    display: none; }
  /* line 394, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
  nav {
    grid-template: 1fr/1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
    justify-self: center;
    align-items: center;
    justify-items: center;
    height: auto;
    overflow-y: visible; }
  /* line 404, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
  section#portfolio {
    margin-top: 0; }
  /* line 408, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
  div.portraitBlock {
    display: grid; }
  /* line 412, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
  div.aboutBlock {
    grid-template: 1fr/1fr 1fr; }
  /* line 416, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
  div.starBlock {
    grid-template: repeat(4, 1fr)/repeat(3, 1fr); }
  /* line 420, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
  form {
    display: grid;
    height: 300px;
    max-width: 600px;
    grid-template: repeat(8, 1fr)/1fr 1fr;
    grid-template-areas: "messagebox messagebox" "messagebox messagebox" "messagebox messagebox" "inputbox textbox" "inputbox textbox" "inputbox textbox" "inputbox textbox" ". sendbutton"; }
  /* line 435, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
  input {
    height: 15%;
    margin-bottom: 14px; } }

@media only screen and (min-width: 1024px) {
  /* line 443, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
  div.starBlock {
    grid-template: repeat(4, 1fr)/repeat(3, 1fr); } }

/*# sourceMappingURL=index.css.map */