/* line 18, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  margin: auto; }

/* line 23, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
section {
  background-color: #FFFFFF;
  display: grid;
  height: auto;
  margin: auto;
  padding: 2px;
  position: relative; }

/* line 32, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
header {
  position: relative;
  display: grid;
  grid-template: 1fr/1fr;
  align-items: center;
  background: transparent;
  height: 700px; }

/* line 41, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
.headerbackground {
  background: url("/images/Website_Background_2.jpg") center no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: ""; }

/* line 54, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
section#menu {
  position: sticky;
  display: grid;
  grid-template: 1fr/1fr;
  justify-items: center;
  align-items: stretch;
  margin-right: 0px;
  top: 0px;
  width: 160px;
  height: 300px;
  background-color: transparent;
  z-index: 2;
  border: 3px solid red; }

/* line 69, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
section#socialmedia {
  height: 500px; }

/* line 72, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
section#contact {
  height: 500px; }

/* line 75, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
nav {
  display: grid;
  grid-template: repeat(7, 1fr)/1fr;
  height: 34px;
  overflow-y: hidden;
  /*height: 320px;*/
  background-color: transparent;
  border: 3px solid blue; }

/* line 85, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
nav button {
  background-color: #3d3e41;
  border: white;
  border: 0.5px solid rgba(255, 255, 255, 0.3);
  color: #FFFFFF;
  font-size: 25px;
  width: 100%;
  min-height: 45px;
  text-align: center; }

/* line 96, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
.banner {
  display: grid;
  grid-template: 1fr/1fr;
  justify-items: center;
  align-items: center;
  height: 100%; }

/* line 104, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
.titleblock {
  text-align: center; }

/* line 108, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
button {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  transition: all 0.3s ease; }

/* line 114, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
button:hover,
.active {
  filter: brightness(150%); }

/* line 119, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
button:hover,
div.bars:hover {
  cursor: pointer; }

/* line 124, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
.bars {
  display: grid;
  justify-items: center;
  align-items: center;
  justify-self: end;
  grid-gap: 5px;
  background-color: #3d3e41;
  border-radius: 4px;
  height: 34px;
  width: 43px; }

/* line 136, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
.bar {
  background-color: #FFFFFF;
  height: 4px;
  margin: 2px;
  width: 60%; }

/* line 143, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
section#portfolio {
  height: 700px;
  background-color: green;
  margin-top: -310px; }

/* line 149, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
section#about {
  height: 700px; }

/* line 153, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
.slideup,
.slidedown {
  max-height: 34px;
  height: 34px;
  overflow-y: hidden;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out; }

/* line 163, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
.slidedown {
  max-height: 320px;
  height: 320px; }

@media only screen and (min-width: 768px) {
  /* line 171, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
  section#menu {
    width: 100%;
    height: auto;
    justify-items: center;
    background-color: #3d3e41; }
  /* line 178, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
  menu {
    background-color: #3d3e41; }
  /* line 182, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
  .bars {
    display: none; }
  /* line 186, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
  nav {
    grid-template: 1fr/1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
    justify-self: center;
    align-items: center;
    justify-items: center;
    height: auto;
    overflow-y: visible; }
  /* line 196, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/index.scss */
  section#portfolio {
    margin-top: 0px; } }

/*# sourceMappingURL=index.css.map */