@import url('https://fonts.googleapis.com/css?family=Roboto:900|Lato:700|Playfair+Display|Domine|Montserrat');
@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css');
@import 'library.scss';
@import 'header.scss';
@import 'footer.scss';
@import 'contact.scss';
@import 'socialmedia.scss';
@import 'menu.scss';
@import 'portfolio.scss';
@import 'about.scss';
@import 'mediaqueries.scss';
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  @include display(grid, auto auto auto/1fr, center, center);
  @include positioning(relative, auto, 100%, 2px, auto);
  overflow-x: hidden;
  scroll-behavior: smooth;
}
main {
  width: 100%;
  display: grid;
  grid-template: repeat(4, auto)/1fr;
}
section {
  @include display(grid, 1fr/1fr, center, center);
  @include positioning(relative, auto, auto, 2px, auto);
  background-color: var(--wht);
}
.button {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  transition: all 0.3s ease;

}
.button:hover,
.active {
  filter: brightness(150%);
}
.button:hover,
div.bars:hover {
  cursor: pointer;
}
div.appBlock,
div.skillBlock {
  background: linear-gradient(135deg, var(--transitionColorA), var(--transitionColorB)), linear-gradient(var(--transitionColorC), var(--transitionColorC));
  opacity: 0.85;
  border: solid 1px rgba(0, 0, 0, 1);
  box-shadow: 3px 6px var(--shadowColor);
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
  width: 100%;
  text-align: center;
  background-color: var(--bannercolor);
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 10px;

}
h3 {
  font-size: 40px;
  text-align: center;
}

