@import 'mainStyling.css';

$wht: #FFFFFF;
@mixin display($display, $gridtemplate,$alignitems,$justifyitems){
	display: $display;
	grid-template-rows: $gridtemplate;
	align-items: $alignitems;
	justify-items: $justifyitems;
}
@mixin positioning($position,$height,$width,$padding,$margin){
	position: $position;
	height: $height;
	width: $width;
	padding: $padding;
	margin: $margin;
}

@mixin absolutePos($zindex,$top,$bottom,$right,$left,$content){
	z-index: $zindex;
	top: $top;
	bottom: $bottom;
	right: $right;
	left: $left;
	content: $content;
}

body {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	 @include display(grid, 1fr/1fr,center,center);
		@include positioning(relative,auto,100%,2px,auto);
}

header {
	@include display(grid, 1fr/1fr, center, center);
	@include positioning(relative, 600px, 100%, 2px, auto);
}

.headerbackground {
	background: url('/images/Website_Background_2.jpg') center no-repeat;
	background-size: cover;
	z-index: -1;
	top: 0;
	right: 0;
	left: 0;
	content: "";
	@include positioning(absolute, 100%, 100%, 2px, auto);
	@include absolutePos(-1,0,auto,0,0,"");
	
}

section {
	background-color: $wht;
	display: grid;
	height: auto;
	margin: auto;
	padding: 2px;
	position: relative;
}




section#menu {
	position: sticky;
	display: grid;
	grid-template: 1fr/1fr;
	justify-items: center;
	align-items: stretch;
	margin-right: 0px;
	top: 0px;
	width: 160px;
	height: 300px;
	background-color: transparent;
	z-index: 2;
}

section#socialmedia {
	height: 500px;
}
section#contact {
	height: 500px;
}

section#portfolio {
	height: auto;
	background-color: green;
	display: grid;
	grid-template: 300px 1fr/1fr;
}

div.portfolio {
	display: grid;
	grid-template: repeat(9,1fr)/1fr;
}

nav {
	display: grid;
	grid-template: repeat(7, 1fr)/1fr;
	height: 34px;
	overflow-y: hidden;
	background-color: transparent;
}

nav button {
	background-color: #3d3e41;
	border: rgb(255, 255, 255);
	border: 0.5px solid rgba(255, 255, 255, 0.3);
	color: #FFFFFF;
	font-size: 25px;
	width: 100%;
	min-height: 45px;
	text-align: center;
}

.banner {
	display: grid;
	grid-template: 1fr/1fr;
	justify-items: center;
	align-items: center;
	height: 100%;
}

.titleblock {
	text-align: center;
}

button {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	transition: all 0.3s ease;

}

button:hover,
.active {
	filter: brightness(150%);
}

button:hover,
div.bars:hover {
	cursor: pointer;
}

.bars {
	display: grid;
	justify-items: center;
	align-items: center;
	justify-self: end;
	grid-gap: 5px;
	background-color: #3d3e41;
	border-radius: 4px;
	height: 34px;
	width: 43px;
}

.bar {
	background-color: #FFFFFF;
	height: 4px;
	margin: 2px;
	width: 60%;
}

section#about {
	height: 700px;
}

.slideup,
.slidedown {
	max-height: 34px;
	height: 34px;
	overflow-y: hidden;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

.slidedown {
	max-height: 320px;
	height: 320px;
}

div.appblock {
	background: linear-gradient(135deg, #009bec, #91ffa3), linear-gradient(#c4c4c4,#c4c4c4);
	opacity: 0.7;
	border: solid 1px rgba(0,0,0,1);
	box-shadow: 3px 6px #888888;
	height: 250px;
}

div.thumbnail {
	width: 100%;
	height: 55%;
	background: linear-gradient(135deg, #009bec, #91ffa3), linear-gradient(#c4c4c4,#c4c4c4);
	opacity: 0.7;
	display: flex;
	align-items: center;
	justify-content: center;

}

div.appcaption {
	width: 100%;
	height: 30%;
	border-top: solid 1px rgba(211,211,211,1);
}

div.appfooter {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 15%;
	border-top: solid 1px rgba(211,211,211,1);
}

@media only screen and (min-width: 520px) {
	div.portfolio {
		grid-template: repeat(6,1fr)/repeat(2,1fr);
	}
}

@media only screen and (min-width: 768px) {
	section#menu {
		width: 100%;
		height: auto;
		justify-items: center;
		background-color: #3d3e41;
	}
	
	div.portfolio {
		grid-template: repeat(4,1fr)/repeat(3,1fr);
	}

	menu {
		background-color: #3d3e41;
	}

	.bars {
		display: none;
	}

	nav {
		grid-template: 1fr/1fr 1fr 1fr 1fr 1fr 1fr;
		grid-gap: 25px;
		justify-self: center;
		align-items: center;
		justify-items: center;
		height: auto;
		overflow-y: visible;
	}

}


@media only screen and (min-width:1024px) {}

