html {
	overflow-x: hidden;
}

body {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	margin: auto;
	overflow-x: hidden;
	overflow-y: scroll;
	
}

section {
	background-color: #FFFFFF;
	display: grid;
	height: auto;
	margin: auto;
	padding: 4px;
	position: relative;

}

header {
	position: relative;
	display: grid;
	grid-template: 600px 50px/1fr;
	align-items: center;
	overflow: hidden;
	background: transparent;
	height: auto;
}

.headerbackground {
	background: url('/images/Website_Background_2.jpg') center no-repeat;
	background-size: cover;
 position: absolute;
	z-index: -1;
	top: 0;
	right: 0;
	left: 0;
	height: 100%;
	width: 100%;
	content: "";
}

header button, .mobilemenu button {
	background-color: #3d3e41;
	border: rgb(255, 255, 255);
	border: 0.5px solid rgba(255, 255, 255, 0.3);
	color: #FFFFFF;
	font-size: 25px;
	margin-left: 15px;
	min-width: 100%;
	min-height: 45px;
	text-align: center;
}

menu {
	display: grid;
	align-items: center;
	background-color: transparent;
	height: auto;
	overflow-y: visible;
}

.banner {
	display: grid;
	grid-template: 1fr/1fr;
	justify-items: center;
	align-items: center;
	height: 100%;
}
.titleblock {
	text-align:center;
}
/*
header::before {
	background: url('/images/Website_Background_2.jpg') center no-repeat cover;

}

header menu {
	background-color: #3d3e41;
	display: flex;
	flex-direction: column;
	height: 0;
	margin: 0;
	margin-left: -15px;
	margin-top: 50px;
	overflow-x: hidden;
	overflow-y: hidden;
	padding: 0;
	position: fixed;
	width: 100vw;
}

header button {
	background-color: #3d3e41;
	border: rgb(255, 255, 255);
	border: 0.5px solid rgba(255, 255, 255, 0.3);
	color: #FFFFFF;
	font-size: 25px;
	margin-left: 15px;
	max-width: 100%;
	min-height: 45px;
	text-align: center;
}

header div.bars {
	align-items: center;
	background-color: #3d3e41;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	font-size: 60px;
	height: 34px;
	justify-content: center;
	margin-left: -15px;
	margin-top: 15px;
	position: fixed;
	width: 43px;


}

.bar {
	background-color: #FFFFFF;
	height: 2px;
	margin: 2px;
	width: 60%;
}
*/
button {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	transition: all 0.3s ease;

}

button:hover,
.active {
	filter: brightness(150%);
}

button:hover,
div.bars:hover {
	cursor: pointer;
}

.bars {
	display: grid;
	justify-items: center;
	align-items: center;
	justify-self: end;
	grid-gap: 5px;
	background-color: #3d3e41;
	border-radius: 4px;
	height: 34px;
	width: 43px;
}

.bar {
	background-color: #FFFFFF;
	height: 4px;
	margin: 2px;
	width: 60%;
}

.navmenu {
		position: absolute;
		z-index: 3;
		top: 450px;
		right: 0;
		display: grid;
		grid-template: repeat(5,1fr)/1fr;
		justify-self: end;
		background-color: #3d3e41;

	}


.mobilemenu {
		position: absolute;
		z-index: 3;
		top: 650px;
		margin-right: 20px;
		right: 0;
		display: grid;
		grid-template: repeat(5,1fr)/1fr;
		justify-self: end;
		background-color: #3d3e41;
	}

section#portfolio {
	height: 700px;
}
section#about {
	height: 700px;
}
@media only screen and (min-width: 520px) {}

@media only screen and (min-width: 768px) {
	menu {
		background-color: #3d3e41;
	}
	header {
		grid-template: 600px 100px/1fr;
	}
		
	
	.bars {
		display: none;
	}
	
	.navmenu {
		grid-template: 1fr/repeat(5, 1fr);
		grid-gap: 25px;
		justify-self: center;
	}
	.mobilemenu {
		display: none;
	}
}
	/*
	header {
		align-items: center;
		flex-direction: column;
		justify-content: flex-start;
	}
	

	header button {
		width: 140px;
	}

	.navmenu {
		align-items: center;
		flex-direction: row;
		height: 60px;
		justify-content: center;
		margin: 0;
		padding: 0;
		width: 100%;
	}

	header div.bars {
		display: none;
	}

}

@media only screen and (min-width:1024px) {}
*/