@import url("https://fonts.googleapis.com/css?family=Roboto:900|Lato:700|Playfair+Display|Domine|Montserrat");
@import url("https://use.fontawesome.com/releases/v5.5.0/css/all.css");
/* line 1, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/library.scss */
:root {
  --wht: #FFFFFF;
  --bannercolor: #07BFDC;
  --gitlabcolor: #FF4500;
  --facebookcolor: #4682B4;
  --fccccolor: #228B22;
  --githubcolor: #00003F;
  --twittercolor: #4155f5;
  --codefightscolor: #CEC8EF;
  --textcolor: #FFFFFF;
  --thumbnailcolor: #000080;
  --appcolor: #4169E1;
  --navbuttoncolor: #932020;
  --barcolor: #3d3e41;
  --coolblack: #000027;
  --transitionColorA: #009BEC;
  --transitionColorB: #91FFA3;
  --transitionColorC: #C4C4C4;
  --solidBlack: #000000;
  --footerColor: #D3D3D3;
  --formColor: #262628;
  --shadowColor: #383838;
  --navbarBackground: #FFA348;
  --bannerShade: rgba(128, 128, 128, 0.7); }

/* line 57, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/library.scss */
.genericDisplay {
  display: grid;
  grid-template: 1;
  align-items: center;
  justify-items: center; }

/* line 61, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/library.scss */
.genericPositioning {
  position: relative;
  height: auto;
  width: auto;
  padding: 2px;
  margin: 2px; }

@media only screen and (min-width: 768px) {
  /* line 10, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/mediaqueries.scss */
  section#menu {
    width: 100%;
    height: auto;
    justify-items: center;
    background-color: var(--navbarBackground); }
    /* line 16, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/mediaqueries.scss */
    section#menu nav {
      grid-template: 1fr/1fr 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 10px;
      justify-self: center;
      align-items: center;
      justify-items: space-around;
      height: auto;
      overflow-y: visible;
      margin-top: 10px;
      margin-bottom: 12px; }
      /* line 27, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/mediaqueries.scss */
      section#menu nav button {
        font-size: 15px; }
      /* line 31, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/mediaqueries.scss */
      section#menu nav .bars {
        display: none; }
  /* line 37, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/mediaqueries.scss */
  section#portfolio {
    margin-top: 0; }
    /* line 40, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/mediaqueries.scss */
    section#portfolio .portfolio {
      grid-template: repeat(6, 1fr)/repeat(2, 1fr);
      width: 90%;
      max-width: 1200px; }
  /* line 49, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/mediaqueries.scss */
  .aboutBlock {
    grid-template: auto/auto auto; }
    /* line 52, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/mediaqueries.scss */
    .aboutBlock .portraitBlock {
      display: grid;
      grid-template: auto 1fr/1fr;
      jusity-items: center;
      align-items: flex-start; }
      /* line 59, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/mediaqueries.scss */
      .aboutBlock .portraitBlock .starBlock i {
        font-size: 15px; }
      /* line 64, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/mediaqueries.scss */
      .aboutBlock .portraitBlock img {
        width: 300px;
        height: 300px; }
      /* line 69, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/mediaqueries.scss */
      .aboutBlock .portraitBlock h3 {
        margin-top: 5px;
        margin-bottom: 5px; }
  /* line 78, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/mediaqueries.scss */
  form {
    display: grid;
    height: 300px;
    max-width: 600px;
    grid-template: repeat(8, 1fr)/1fr 1fr;
    grid-template-areas: "messagebox messagebox" "messagebox messagebox" "messagebox messagebox" "inputbox textbox" "inputbox textbox" "inputbox textbox" "inputbox textbox" ". sendbutton"; }
  /* line 93, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/mediaqueries.scss */
  input {
    height: 15%;
    margin-bottom: 14px; }
  /* line 104, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/mediaqueries.scss */
  section#socialMedia .socialNav .mediaButton a i {
    font-size: 200px; }
  /* line 113, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/mediaqueries.scss */
  footer h2 {
    font-size: 16px; }
  /* line 117, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/mediaqueries.scss */
  footer p {
    font-size: 14px; } }

@media only screen and (min-width: 912px) {
  /* line 126, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/mediaqueries.scss */
  nav button {
    font-size: 20px;
    min-height: 35px; }
  /* line 134, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/mediaqueries.scss */
  section#portfolio .portfolio {
    grid-template: repeat(4, 1fr)/repeat(3, 1fr); }
  /* line 141, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/mediaqueries.scss */
  .portraitBlock img {
    width: 400px;
    height: 400px; } }

@media only screen and (min-width: 1024px) {
  /* line 150, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/mediaqueries.scss */
  nav button {
    font-size: 23px; }
  /* line 158, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/mediaqueries.scss */
  .portraitBlock img {
    width: 400px;
    height: 400px; }
  /* line 163, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/mediaqueries.scss */
  .portraitBlock .starBlock {
    grid-template: repeat(4, 1fr)/repeat(3, 1fr); }
    /* line 166, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/mediaqueries.scss */
    .portraitBlock .starBlock i {
      font-size: 13px; } }

/*# sourceMappingURL=mediaqueries.css.map */