@import url("https://fonts.googleapis.com/css?family=Roboto:900|Lato:700|Playfair+Display|Domine|Montserrat");
/* line 1, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/library.scss */
:root {
  --wht: #FFFFFF;
  --bannercolor: #FC5226;
  --gitlabcolor: #FF4500;
  --facebookcolor: #4682B4;
  --fccccolor: #228B22;
  --githubcolor: #00003F;
  --twittercolor: #4155f5;
  --codefightscolor: #FF3A22;
  --textcolor: #FFFFFF;
  --thumbnailcolor: #000080;
  --appcolor: #4169E1;
  --navbuttoncolor: #1dbab4;
  --barcolor: #3d3e41;
  --coolblack: #000027;
  --transitionColorA: #009BEC;
  --transitionColorB: #91FFA3;
  --transitionColorC: #C4C4C4;
  --solidBlack: #000000;
  --footerColor: #D3D3D3;
  --formColor: #262628;
  --shadowColor: #383838;
  --navbarBackground: #1561AD;
  --bannerShade: rgba(128, 128, 128, 0.7);
  --skillsColor: #000080; }

/* line 58, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/library.scss */
.genericDisplay {
  display: grid;
  grid-template: 1;
  align-items: center;
  justify-items: center; }

/* line 62, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/library.scss */
.genericPositioning {
  position: relative;
  height: auto;
  width: auto;
  padding: 2px;
  margin: 2px; }

@media only screen and (min-width: 768px) {
  /* line 7, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/mediaqueries.scss */
  section#menu {
    width: 100%;
    height: auto;
    justify-items: center;
    background-color: var(--navbarBackground); }
    /* line 13, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/mediaqueries.scss */
    section#menu nav {
      grid-template: 1fr/1fr 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 10px;
      justify-self: center;
      align-items: center;
      justify-items: space-around;
      height: auto;
      overflow-y: visible;
      margin-top: 10px;
      margin-bottom: 10px; }
      /* line 25, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/mediaqueries.scss */
      section#menu nav a .button {
        text-align: center;
        line-height: 1.9em;
        font-size: 15px; }
      /* line 34, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/mediaqueries.scss */
      section#menu nav .bars {
        display: none; }
  /* line 40, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/mediaqueries.scss */
  section#portfolio {
    margin-top: 0; }
    /* line 43, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/mediaqueries.scss */
    section#portfolio .portfolio {
      grid-template: repeat(6, 1fr)/repeat(2, 1fr);
      width: 90%;
      max-width: 1200px; }
  /* line 52, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/mediaqueries.scss */
  section#about .aboutBlock {
    grid-template: auto/auto auto; }
    /* line 55, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/mediaqueries.scss */
    section#about .aboutBlock .portraitBlock {
      display: grid;
      grid-template: auto 1fr/1fr;
      jusity-items: center;
      align-items: flex-start; }
      /* line 61, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/mediaqueries.scss */
      section#about .aboutBlock .portraitBlock img {
        width: 300px;
        height: 300px; }
      /* line 66, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/mediaqueries.scss */
      section#about .aboutBlock .portraitBlock h3 {
        margin-top: 5px;
        margin-bottom: 5px; }
    /* line 73, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/mediaqueries.scss */
    section#about .aboutBlock .skillBlock .starBlock {
      grid-template: repeat(4, 1fr)/repeat(3, 1fr); }
      /* line 76, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/mediaqueries.scss */
      section#about .aboutBlock .skillBlock .starBlock i {
        font-size: 15px; }
  /* line 87, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/mediaqueries.scss */
  section#contact {
    /*
    .formcontainer {
      form {
        display: grid;
        height: 300px;
        max-width: 600px;
        grid-template: repeat(8, 1fr)/1fr 1fr;
        grid-template-areas: "messagebox messagebox"
          "messagebox messagebox"
          "messagebox messagebox"
          "inputbox textbox"
          "inputbox textbox"
          "inputbox textbox"
          "inputbox textbox"
          ". sendbutton";

        input {
          height: 15%;
          margin-bottom: 14px;
        }
      }
    }
    */ }
    /* line 89, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/mediaqueries.scss */
    section#contact .contactcontainer {
      grid-template: 1fr/1fr 1fr 1fr;
      width: 75%;
      max-width: 1000px;
      margin-bottom: 100px; }
  /* line 124, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/mediaqueries.scss */
  section#socialMedia .socialNav .mediaButton a i {
    font-size: 200px; }
  /* line 132, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/mediaqueries.scss */
  footer {
    grid-template: 1fr/auto auto auto; }
    /* line 135, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/mediaqueries.scss */
    footer h2 {
      display: grid;
      font-size: 16px; }
    /* line 141, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/mediaqueries.scss */
    footer .content p {
      display: grid;
      font-size: 14px; } }

@media only screen and (min-width: 912px) {
  /* line 153, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/mediaqueries.scss */
  section#menu nav a .button {
    font-size: 20px;
    min-height: 35px; }
  /* line 163, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/mediaqueries.scss */
  section#portfolio .portfolio {
    grid-template: repeat(4, 1fr)/repeat(3, 1fr); }
  /* line 171, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/mediaqueries.scss */
  section#about .aboutBlock .portraitBlock img {
    width: 400px;
    height: 400px; } }

@media only screen and (min-width: 1024px) {
  /* line 184, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/mediaqueries.scss */
  section#menu nav a .button {
    font-size: 25px; }
  /* line 194, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/mediaqueries.scss */
  section#about .aboutBlock .portraitBlock img {
    width: 400px;
    height: 400px; }
  /* line 202, /Users/adam/Desktop/My_Documents/Coding/Projects/Portfolio_Website/css/mediaqueries.scss */
  section#about .aboutBlock .starBlock i {
    font-size: 16px; } }

/*# sourceMappingURL=mediaqueries.css.map */