@import url('https://fonts.googleapis.com/css?family=Roboto:900|Lato:700|Playfair+Display|Domine|Montserrat');
@import 'library.scss';

@media only screen and (min-width: 520px) {}

@media only screen and (min-width: 768px) {
  section#menu {
    width: 100%;
    height: auto;
    justify-items: center;
    background-color: var(--navbarBackground);

    nav {
      grid-template: 1fr/1fr 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 10px;
      justify-self: center;
      align-items: center;
      justify-items: space-around;
      height: auto;
      overflow-y: visible;
      margin-top: 10px;
      margin-bottom: 10px;

      a {
        .button {
          text-align: center;
          line-height: 1.9em;
          font-size: 15px;
        }


      }

      .bars {
        display: none;
      }
    }
  }

  section#portfolio {
    margin-top: 0;

    .portfolio {
      grid-template: repeat(6, 1fr)/repeat(2, 1fr);
      width: 90%;
      max-width: 1200px;
    }
  }

  section#about {

    .aboutBlock {
      grid-template: auto/auto auto;

      .portraitBlock {
        display: grid;
        grid-template: auto 1fr/1fr;
        jusity-items: center;
        align-items: flex-start;

        img {
          width: 300px;
          height: 300px;
        }

        h3 {
          margin-top: 5px;
          margin-bottom: 5px;
        }
      }

      .skillBlock {
        .starBlock {
          grid-template: repeat(4, 1fr)/repeat(3, 1fr);

          i {
            font-size: 15px;
          }
        }

      }


    }
  }

  section#contact {
    
    .contactcontainer {
      grid-template: 1fr/1fr 1fr 1fr;
      width: 75%;
      max-width: 1000px;
      margin-bottom: 100px;
    }
    /*
    .formcontainer {
      form {
        display: grid;
        height: 300px;
        max-width: 600px;
        grid-template: repeat(8, 1fr)/1fr 1fr;
        grid-template-areas: "messagebox messagebox"
          "messagebox messagebox"
          "messagebox messagebox"
          "inputbox textbox"
          "inputbox textbox"
          "inputbox textbox"
          "inputbox textbox"
          ". sendbutton";

        input {
          height: 15%;
          margin-bottom: 14px;
        }
      }
    }
    */
  }

  section#socialMedia {
    .socialNav {
      .mediaButton {
        a {
          i {
            font-size: 200px;
          }
        }
      }
    }
  }

  footer {
    grid-template: 1fr/auto auto auto;

    h2 {
      display: grid;
      font-size: 16px;
    }

    .content {
      p {
        display: grid;
        font-size: 14px;
      }
    }
  }
}

@media only screen and (min-width: 912px) {
  section#menu {
    nav {
      a {
        .button {
          font-size: 20px;
          min-height: 35px;
        }
      }

    }
  }

  section#portfolio {
    .portfolio {
      grid-template: repeat(4, 1fr)/repeat(3, 1fr);
    }
  }

  section#about {
    .aboutBlock {
      .portraitBlock {
        img {
          width: 400px;
          height: 400px;
        }
      }
    }
  }
}

@media only screen and (min-width:1024px) {
  section#menu {
    nav {
      a {
        .button {
          font-size: 25px;
        }
      }
    }
  }

  section#about {
    .aboutBlock {
      .portraitBlock {
        img {
          width: 400px;
          height: 400px;
        }
      }

      .starBlock {

        i {
          font-size: 16px;
        }
      }

    }
  }
}
