
.first_section {
  background: url("https://www.dropbox.com/s/uzkeu1gd569meo4/Website_Background_3.jpg?raw=1");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.second_section {
  background: url("https://www.dropbox.com/s/1dep7y5o6gq55ao/Website_Background_4.jpg?raw=1");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.nav-pills {
  background-color: #0f1626;
  color: white;
}

.side_navbar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0f1626;
  overflow-x: hidden;
  transition: 1s;
  padding-top: 20px;
  padding-left: 20px;
}

.side_navbar a {
  padding: 8px;
  text-decoration: none;
  color: white;
  display: block;
  transition: 0.5s;
}

.side_navbar a:hover {
  color: rgba(106, 61, 255, 0.5);
}

.side_navbar .exit {
  position: absolute;
  top: 0;
  right: 25px;
  margin-left: 10px;
}

.fa-bars {
  color: white;
}

.title {
  color: white;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  font-weight: bold;
  font-variant: normal;
  text-transform: uppercase;
  border: 2px solid white;
  background-color: black;
  border-radius: 10px;
  height: 100%;
  
}

.title-bar {
  height: 100%;
  margin: 3px;
  padding: 3px;
  border: 2px solid red;

}

.image-container {
  width: 90%;
  margin: auto;
  padding: 3px;
  border: 2px #0000c8 solid;
}

img {
  margin: auto;
}

.spacer {
  width: 100%;
  height: 100px;
}

.page-header {
  color: white;
  font-family: "Roboto Slab", serif;
  font-size: 33px;
  font-weight: bold;
  font-variant: normal;
  border-bottom: 5px outset;
  color: white;
  text-align: center;
}

p {
  color: white;
  font-family: "PT Serif", serif;
  font-size: 10px;
  font-weight: normal;
  font-variant: normal;
}

.buttontext {
  font-size: 16.5px;
}

.skillicon {
  font-size: 33px;
}

.caption {
  margin: auto;
  width: 90%;
  height: 40px;
  border-bottom: 2px solid grey;
}

.sub-caption {
  margin: auto;
  width: 90%;
  height: 115px;
  
}

.caption p {
  color: white;
  font-family: 'Work Sans', serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  font-variant: normal;
  text-align: center;
}

.sub-caption p {
  color: white;
  font-family: 'Work Sans', serif;
  font-size: 14px;
  font-weight: normal;
  font-variant: normal;
}

.icon-container {
  display: inline-block;
  float: left;
  height: 224px;
  width: 10%;
  border: solid 3px red;
}

i {
  font-size: 100px;
}

footer {
  width: 100%;
  height: 75px;
  position: relative;
  clear: both;
  margin: 5px;
  padding: 5px;
  background-color: #0f1626;
}

footer p {
  position: relative;
  display: inline-block;
  float: right;
  margin: 5px;
  padding: 5px;
}

.w3-card-4 {
  color: rgba(0, 0, 255, 0.5);
}

li p {
  text-transform: uppercase;
  font-family:"Roboto Slab";
  font-size: 30px;
}
//tablet size screens
@media screen and (min-width: 768px) {
  .title {
    font-size: 23px;
  }

  .page-header {
    font-size: 42px;
  }

  p {
    font-size: 11px;
  }

  .buttontext {
    font-size: 21px;
  }

  .skillicon {
    font-size: 42px;
  }
  .caption p {
  font-size: 21px;
  line-height: 23px;
  }
}
//desktop sized screens
@media screen and (min-width: 992px) {
  .title {
    font-size: 22px;
  }

  .page-header {
    font-size: 54px;
  }

  p {
    font-size: 14px;
  }

  .buttontext {
    font-size: 27px;
  }

  .skillicon {
    font-size: 54px;
  }

  .caption p {
    font-size: 25px;
    line-height: 27px;
  }
}
//large screens
@media screen and (min-width: 1200px) {
  .title {
    font-size: 25px;
  }

  .page-header {
    font-size: 66px;
  }

  p {
    font-size: 27px;
  }

  .buttontext {
    font-size: 29px;
  }

  .skillicon {
    font-size: 54px;
  }

  .caption p {
    font-size: 22px;
    line-height: 27px;
  }

}
