#portfolio {
  background: url("../images/code_screen.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 3px;
  margin: 3px;
}

#skills {
  background: url("../images/Website_Background_2.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 3px;
  margin: 3px;
}



#social-media {
  background-color: rgba(82,46,117,1);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 3px;
  margin: 3px;
}

#about {
  background-color: rgba(163,118,93,1);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 3px;
  margin: 3px;
}

#contact {
  background-color: rgba(82, 46, 117, 1);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 3px;
  margin: 3px;
}

#intro {
  background: url("../images/Website_Background_3.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 150px;
  padding-bottom: 10px;
  height: 500px;
}

.banner-text {
  color: rgba(255,255,255,1);
  margin: 5px;
  padding: 5px;
  text-align: center;
  font-family: 'Roboto Slab';
  font-size: 15px;
  line-height: 60px;
  text-transform: uppercase;
  text-shadow: 3px 3px rgba(54,54,54, 1);
}

.page-header {
  font-family: 'Roboto Slab';
  font-size: 30px;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

.caption {
  margin: auto;
  width: 95%;
  border-bottom: 2px solid grey;
  height: 80px;
  
}


.caption p {
  color: white;
  font-size: 18px;
  font-family: 'Work Sans', serif;
  font-weight: bold;
  font-variant: normal;
  text-align: center;
}

.sub-caption, .skills-caption {
  margin: auto;
  width: 90%;
  height: 150px;
  margin-bottom: 3px;
  padding: 3px;
  
}

.sub-caption p, .skills-caption p {
  margin: 2px;
  padding: 2px;
  color: white;
  font-size: 15px;
  font-family: 'Work Sans', serif;
  font-weight: normal;
  font-variant: normal;
  }

.sub-caption p {
  font-size: 15px;
}

.skills-caption p {
  font-size: 20px;
}

.skills-grid {
  display: grid;
  grid-template-rows: repeat(5,20%);
  grid-template-columns: repeat(2,50%);
}


i {
  font-size: 48vw;
}

.menu-text {
  transition: 1s;
  text-transform: uppercase;
  font-family: 'Roboto Slab';
  font-size: 14px;
}

.scroll-menu-text {
  transition-duration: 1s;
  text-transform: uppercase;
  font-family: 'Work Sans';
  font-size: 12px;
}

.navbar {
  width: 100%;
  z-index: 1000;
}

.contactme {
  display: grid;
  grid-template-rows: 2fr;
  grid-template-columns: repeat(3,1fr);
  height: 95%;
  width: 75%;
  margin: auto;
}

.form-container {
  grid-row: 1/2;
  grid-column: 1/2;
  display: flex;
  justify-content: center;
}

.phone-container {
  grid-row: 1/2;
  grid-column: 2/3;
  display: flex;
  justify-content: center;
}

.email-container {
  grid-row: 1/2;
  grid-column: 3/4;
  display: flex;
  justify-content: center;
}

.email-caption, .form-caption, .phone-caption {
  color: rgba(255,255,255,1);
}

.form-caption {
  grid-row: 2/3;
  grid-column: 1/2;
  display: flex;
  justify-content: center;
}

.phone-caption {
  grid-row: 2/3;
  grid-column: 2/3;
  display: flex;
  justify-content: center;
}

.email-caption {
  grid-row: 2/3;
  grid-column: 3/4;
  display: flex;
  justify-content: center;
}

.email-caption p, .form-caption p, .phone-caption p {
  color: white;
  font-size: 9px;
  font-family: 'Work Sans', serif;
  font-weight: bold;
  font-variant: normal;
  text-align: center;
}

#resume-button, #contact-button {
  margin: auto;
  padding: 2px;
  text-align: center;
  font-family: 'Roboto', 'sans-serif';
  border-radius: 10px;
  width: 150px;
  height: 50px;

}

.modal-form {
    display: none; /* Hidden by default */
    margin: auto;
    top: 10%;
    left: 25%;
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    width: 300px; /* Full width */
    height: 550px; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(246, 241, 241, 1);
    padding: 10px;
}

#resume-button {
  margin-top: 40px;
  margin-bottom: 40px;
}

/*.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}
*/
footer {
  width: 100%;
  height: 75px;
  position: relative;
  clear: both;
  margin: 5px;
  padding: 5px;
  background-color: rgba(82,89,31,1);
}

footer p {
  position: relative;
  display: inline-block;
  float: right;
  margin: 5px;
  padding: 5px;
}

/*tablet sized screens */
@media screen and (min-width: 768px) {
  caption p {
    font-size: 20px;
  }
  .menu-text {
    font-size: 14px;
  }
  .scroll-menu-text {
    font-size: 12px;
  }
  .skills-grid {
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(4,1fr);
  }

  i {
    font-size: 23vw;
  }
  .banner-text {
    font-size: 20px;
  }

  .email-caption p, .form-caption p, .phone-caption p {
    font-size: 12px;
  }
  .modal-form {
    left: 35%;
    width: 400px;
  }
}

/*desktop sized screens*/
@media screen and (min-width: 992px) {
  .caption p {
    font-size: 26px;
  }
  .menu-text {
    font-size: 16px;
  }
  .scroll-menu-text {
    font-size: 11px;
  }
  .skills-grid {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(9,11%);
  }
  i {
    font-size: 10vw;
  }
  .banner-text {
    font-size: 25px;
    text-shadow: 5px 5px rgba(54,54,54, 0.75);
  }
  .sub-caption p {
    font-size: 21px;
  }

  .skills-caption p {
    font-size: 15px;
  }
  .email-caption p, .form-caption p, .phone-caption p {
    font-size: 14px;
  }
}


/*large screens*/
@media screen and (min-width: 1200px) {
  .caption p {
    font-size: 32 px;
  }

  .menu-text {
    font-size: 20px;
  }
  .scroll-menu-text {
    font-size: 15px;
  }
  .banner-text {
    font-size: 30px;
  }
  .sub-caption p {
    font-size: 25px;
  }
  .email-caption p, .form-caption p, .phone-caption p {
    font-size: 16px;
  }
}